

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



 * {
            font-family: 'Noto Sans KR',sans-serif !important;
/*            font-family: 'good'; */
            box-sizing: border-box;
            font-weight: 500;
     }
.bbb {
   display: flex;
    flex-direction: row-reverse;
}

body {
  font-family: 'KorailRoundGothicBold';
  margin: 0;
  padding: 0;
}

.user-menu {
  margin: 0 auto;
  text-align: right;
}

.user-menu li {
  display: inline-block;
  padding: 10px;
}

.navbar {
  background-color: #7f7368;
  padding: 10px;
}

.navbar .container {
   font-family: 'BookkMyungjo-Bd';
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.menu-toggle {
  display: none;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  /* 토글 버튼의 위치를 절대적으로 설정 */
  right: 10px;
  /* 오른쪽 끝으로 이동 */
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  list-style: none;
  margin: 0 30px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
   .bbb {
   display: flex;
    flex-direction: row-reverse;
   }
  .menu {
    display: none;
  }

  .menu-toggle {
    display: inline;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0px;
    background-color: #e8d8c8;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    z-index: 2;
  }

  .menu.active li {
    margin: 10px 0;
  }
}

.navbar-brand img {
  width: 100px;
  /* 이미지의 가로폭을 조정합니다 */
}
/* --------------------------------------------------------------------------------------- */
/* 검색 기능 */

.search-wrap {
   margin: 0 auto;
   text-align: center;
}

.search_input {
   width: 60%;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    margin-right: 0 !important;
    border-right: none;
    border-bottom: 2px solid #000;
}

.btn1 {
   width: 70px;
    padding: 12px 5px;
    margin: 10px;
    border: 2px solid #000;
    background-color: #fff;
    margin-left: 0px;
    vertical-align: bottom;
    border-left: none;
}

input {
  outline: none;
}



/* --------------------------------------------------------------------------------------- */
.main1 {
   background: url(./img/img22.jpg) no-repeat;
   background-size: cover;
   background-position: center center;
   
}


.search {
  text-align: center;
  margin: 50px 0 10px 0;
}

.search1 {
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  width: 30%;
  height: 50px;
}



@media screen and (max-width: 768px) {
  .search1 {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    width: 70%;
    height: 50px;
  }
}

.search2 {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* ------------------------------------------------------------------------------------------ */


.new_arrival {
  padding: 20px;
  margin-top: 50px;
}

.new_container {
  max-width: 1200px;
  margin: 0 auto;
}

.new_title {
  text-align: center;
  margin-bottom: 20px;
}

.new_title h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.new_swiper_container {
  position: relative;
}

.new_swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.new_slide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newbox {
  text-align: center;
}

.new_product {
  display: block;
  text-decoration: none;
}

.new_product img {
  max-width: 100%;
  height: auto;
}

.new_copy {
  margin: 20px;
}

.new_copy p {
  font-size: 16px;
  margin-bottom: 5px;
}

.new_copy span {
  font-weight: bold;
}

.new_copy {
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
}


/* 스와이퍼 페이지네이션 및 버튼 스타일 */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button-next,
.button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-next {
  right: -50px;
  top: 10px;
}

.swiper-button-prev {
  left: 50px;
}

/* 애니메이션 효과 */
.new_slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}



/* ------------------------------------------------------------------------------------------ */




.visual-sec .img-box {
  margin-top: 40px;
  display: block;
  width: 1200px;
  height: 650px;
  margin: 100px auto;
  overflow: hidden;
}



.visual-sec .all-box {
  position: absolute;
  display: inline-flex;
  width: 70%;
  height: 3px;
  left: 100%;
  bottom: 0.9rem;
  box-sizing: border-box;
  padding: 0 2rem;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media screen and (max-width: 768px) {

  .visual-sec .img-box>img {
    width: 768px;
    margin: 70px auto;
    object-fit: cover;
  }

  .visual-sec .all-box {
    position: absolute;
    display: inline-flex;
    width: 70%;
    height: 70px;
    left: 98%;
    bottom: 0.1rem;
    box-sizing: border-box;
    padding: 0px 2rem;
    transform: translate(-50%, -100%);
    z-index: 20;
  }

  .visual-sec .img-box {
    margin-top: 40px;
    display: block;
    width: 768px;
    margin: 20px auto;
    overflow: hidden;
  }
}



.visual-sec .swiper-slide-active>img {
  transform: scale(1.0);
}


.visual-sec .progress-box {
  position: relative;
  width: 10rem;
  height: 3rem;
  z-index: 11;
}

.autoplay-progress {
  position: absolute;
  left: 2rem;
  top: 0.6rem;
  z-index: 1;
  width: 6.5rem;
  height: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  stroke-width: 4px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(100 * (1 - var(--progress)));
  stroke-dasharray: 100;
}

.visual-sec .swiper-pagination {
  display: flex;
  color: #000;
  justify-content: space-between;
  position: static;
  text-align: left;
}

.visual-sec .arrow-box {
  position: relative;
  width: 5rem;
  height: 3rem;
}

.visual-sec .swiper-button-next,
.visual-sec .swiper-button-prev {
  width: 1.5rem;
  height: 1.5rem;
  top: -4px;
  margin-top: 0;
}

/*   .visual-sec .swiper-button-next {
  background-image: url(./imgs1.png);
}
.visual-sec .swiper-button-prev {
  background-image: src="./img/imgs2.png";
} */

.visual-sec .swiper-button-next::after,
.visual-sec .swiper-button-prev::after {
  font-size: 0;
}

.iaan-news {
  margin: 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 800px;
  justify-content: center;
}

.iaan-news>section {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .iaan-news {
    padding: 30px 10px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 600px;
    width: 90%;
  }

}

.iaan-news>section:hover {
  transform: scale(1.01);
}

.iaan-news> :first-child {
  background: url(./img/imgee1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.iaan-news> :nth-child(2) {
  background: url(./img/imgee2.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.iaan-news> :last-child {
  background: url(./img/imgee3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.after-effect::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.iaan-news>section>div {
  z-index: 2;
}

.iaan-news>div {
  width: 50%;
}

/* ------------------------------------------------------------------------------------------ */



.info {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.info-main {
  width: 30%;
}

.news {
  padding: 10px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .news {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }

  .info-main {
    width: 100%;
  }

}





.news h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #666666
}

.news ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.news li a {
  display: block;
  padding: 5px;
  border-bottom: dotted 2px #dddddd;
  color: #000000;
  font-size: 14px;
  text-decoration: none
}

.news li a:hover {
  background-color: #eeeeee
}

.news time {
  color: #888888;
  font-weight: bold
}

.news a:after {
  content: "";
  display: block;
  clear: both
}

.news time {
  float: left;
  width: 60px
}

.news .text {
  float: none;
  width: auto;
  margin-left: 60px
}


/* ------------------------------------------------------------------------------------------ */
.rhdwl {
   margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.the1 {
   display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------------------------------------------------------ */

/*footer*/
.footers-border {
  padding: 10px;
  margin: 10px;
  font-size: 16pt;
}

.footers-border {
  border-bottom: 1px solid #53503d;
}

.footers-flex {
  display: flex;
}

.footers-hover {
  padding: 10px;
  margin: 10px auto;;
  font-size: 12pt;
}



.imgd {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}