@charset "UTF-8";


.info {
  display: flex;
  position:relative;
  justify-content: center;
  margin: 40px;
}

.info-main {
  width:500px;
  	background-color:#fff;
  
}

.news {
  padding: 10px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .news {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }

  .info-main {
    width: 100%;
  }

}





.news h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #666666
}

.news ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.news li a {
  display: block;
  padding: 5px;
  border-bottom: dotted 2px #dddddd;
  color: #000000;
  font-size: 14px;
  text-decoration: none
}

.news li a:hover {
  background-color: #eeeeee
}

.news time {
  color: #888888;
  font-weight: bold
}

.news a:after {
  content: "";
  display: block;
  clear: both
}

.news time {
  float: left;
  width: 60px
}

.news .text {
  float: none;
  width: auto;
  margin-left: 60px
}


/* ------------------------------------------------------------------------------------------ */
.rhdwl {
   margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.the1 {
   display: flex;
    justify-content: flex-end;
}
